a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: white !important;
}

a:visited { text-decoration: none; color:white; }

.MuiDialog-paperWidthSm {
	min-width: 850px;
	max-width: 850px;
	min-height: 600px;
	max-height: 600px;
}

.Electro {
	color: #F5BEF0;
}

.Pyro {
	color: #f99;
}

.Cryo {
	color: #9ff;
}

.Anemo {
	color: #80ffd7;
}

.Hydro {
	color: #80c0ff;
}

.Geo {
	color: #ffe699;
}