.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiToolbar-gutters {
  padding-left: 15%;
  padding-right: 15%;
}

.MuiToolbar-regular {
  min-height: 0px;
}

.MuiIcon-root {
  width: 32px;
  height: 32px;
}

.MuiIconButton-label {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .05em;
}

.MuiButton-label {
  text-transform: none;
  font-size: 16px;
}

.MuiContainer-root {
  background-color: #222431;
  padding: 0px;
}

.MuiCardHeader-action {
	padding: 8px 8px 0px 0px
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: white !important;
}

a:visited { text-decoration: none; color:white; }

h1, h2 {
	color: #FFF
}

.menu-test {
	color: #FFF;
}

.menu-test-active {
	color: #A6A7AC !important;
}

.inactive-link {
	color: #A6A7AC !important;
}

.dropdown-arrow{
	color: #A6A7AC !important;
}

.dropdown-arrow:hover {
	color: white !important;
}

.plus-character{
	color: #A6A7AC !important;
	font-size: 24px;
}

.center-item {
	font-size: 100px;
	color: #A6A7AC;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.center-item-top {
	font-size: 100px;
	color: #A6A7AC;
	margin: 0;
	position: absolute;
	top: 30%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.center-item-name {
	margin: 0;
	position: absolute;
	top: 58%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.center-item-ascension {
	margin: 0;
	position: absolute;
	top: 67%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.center-item-level-range {
	margin: 0;
	position: absolute;
	top: 75%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	min-width: 100px;
}