.MuiCardHeader-action {
	padding: 8px 8px 0px 0px
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: white !important;
}

a:visited { text-decoration: none; color:white; }

.dropdown-arrow{
	color: #A6A7AC !important;
}

.dropdown-arrow:hover {
	color: white !important;
}

.plus-character{
	color: #A6A7AC !important;
	font-size: 24px;
}

.center-item {
	font-size: 100px;
	color: #A6A7AC;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.center-item-top {
	font-size: 100px;
	color: #A6A7AC;
	margin: 0;
	position: absolute;
	top: 30%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.center-item-name {
	margin: 0;
	position: absolute;
	top: 58%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.center-item-ascension {
	margin: 0;
	position: absolute;
	top: 67%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.center-item-level-range {
	margin: 0;
	position: absolute;
	top: 75%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	min-width: 100px;
}

.nav-title {
	font-size: 16px;
	font-weight: 700;
}

.MuiToolbar-regular {
    min-height: 55px !important;
}

.MuiDialog-paperWidthSm {
	max-width: 50%;
	min-width: 50%;

}

.MuiDialog-paperScrollPaper {
	max-height: 70%;
	min-height: 70%;
}
